{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <h1>Nosotros</h1>

    <div class="container-fluid text-center">
        <h3>Bienvenido a FOF!!!!!</h3>
        <p class="container-sm text-center aria-controls">

            Nuestro camino se basa en la calidad y el cuidado del considerado mejor amigo del hombre ese amigo peludo que siempre nos alegra el dia por eso en Footprints of frienship tratamos de darle lo mejor a tu mascota traendo los mejores productos al mejorp
            precio del mercado y para agregarle un plus estamos asociados a PATITAS AL RESCATE una ONG de ayuda para los animales en situación de calle para brindarles una mejor calidad de vida y ayudarlos a encontrar un hogar al quepertenecer si te
            estas suscrito a la ONG PATITAS AL RESCATE te damos un 30% de descuento en tus 3 primeras compras en nuestra pagina ya que por cada compra estaremos donando un 15% del total de tucompra para donaciones para estos animales que con sus miradas
            se que te agradecen mucho dales una nueva vida.

        </p>
    </div>
    <div class="container text-center ">
        <div class="row ">
            <div class="col ">
                <div class="card " style="width: 18rem; ">
                    <img src="{% static 'core/images/ayuda1.jpg'%} " class="card-img-top " alt=" ">
                    <div class="card-body ">
                        <h5 class="card-title ">Jorge Perez</h5>
                        <p class="card-text ">Gerente general</p>
                        <a href="">ec.petshop@fof.cl</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="width: 18rem; ">
                    <img src="{% static 'core/images/ayuda2.jpg'%} " class="card-img-top " alt=" ">
                    <div class="card-body ">
                        <h5 class="card-title ">Jhonatan Babalabarca</h5>
                        <p class="card-text ">Atencion al Cliente </p>
                        <a href="">ec.petshop@fof.cl</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="width: 18rem; ">
                    <img src="{% static 'core/images/ayuda3.jpg'%}" class="card-img-top " alt=" ">
                    <div class="card-body ">
                        <h5 class="card-title ">Esclavo corporativo</h5>
                        <p class="card-text ">Encargado de marketing</p>
                        <a href="">ec.petshop@fof.cl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




